.cartPage {
  display: flex;
  column-gap: 20px;
}

.cart {
  width: 77%;
  padding: 25px 32px;
  background: #191919;
  border-radius: 6px;
  &__title {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 16px;
  }
  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  &__card {
    background: #212123;
    border-radius: 8px;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-info {
      display: flex;
      column-gap: 16px;
      align-items: center;
      img {
        width: 100px;
        height: 60px;
        object-fit: cover;
        border-radius: 6px;
      }
    }
    &-title {
      font-weight: 600;
      font-size: 13px;
      color: #FFFFFF;
      margin-bottom: 5px;
    }
    &-category {
      font-weight: 500;
      font-size: 10px;
      color: #B8B8B8;
    }
    &-sale {
      display: flex;
      align-items: center;
      column-gap: 100px;
    }
    &-price {
      font-weight: 700;
      font-size: 20px;
      color: #FFFFFF;
      span {
        color: #6C3EB8;
      }
    }
    &-counter {
      display: flex;
      column-gap: 16px;
      align-items: center;
    }
    &-btn {
      padding: 3px 6px;
      width: 25px;
      height: 25px;
      background: #576067;
      border-radius: 6px;
      border: none;
      color: white;
      cursor: pointer;
      &.plus {
        background: #6C3EB8;
      }
    }
    &-count {
      font-weight: 500;
      font-size: 14px;
      color: #576067;
    }
    &-end {
      display: flex;
      align-items: center;
      column-gap: 45px;
    }
    &-delete {
      color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
      border: none;
      background: none;
      font-size: 20px;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 140px;
    &-price {
      font-weight: 600;
      font-size: 20px;
      color: #B8B8B8;
      span {
        color: white;
      }
    }
  }
}